9527HAV/Java Client/xml-resources/web-service-references/HomeAutomationService/wsdl/localhost_8080/HomeAutomationServer/HomeAutomationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://MyServerPack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://MyServerPack/" name="HomeAutomationService">
<types>
<xsd:schema>
<xsd:import namespace="http://MyServerPack/" schemaLocation="http://localhost:8080/HomeAutomationServer/HomeAutomationService?xsd=1"/>
</xsd:schema>
</types>
<message name="initDatabse">
<part name="parameters" element="tns:initDatabse"/>
</message>
<message name="initDatabseResponse">
<part name="parameters" element="tns:initDatabseResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="PassObjectRefrence">
<part name="parameters" element="tns:PassObjectRefrence"/>
</message>
<message name="StoreData">
<part name="parameters" element="tns:StoreData"/>
</message>
<message name="StoreDataResponse">
<part name="parameters" element="tns:StoreDataResponse"/>
</message>
<message name="SearchUserPresent">
<part name="parameters" element="tns:SearchUserPresent"/>
</message>
<message name="SearchUserPresentResponse">
<part name="parameters" element="tns:SearchUserPresentResponse"/>
</message>
<message name="AuthenticateUser1">
<part name="parameters" element="tns:AuthenticateUser1"/>
</message>
<message name="AuthenticateUser1Response">
<part name="parameters" element="tns:AuthenticateUser1Response"/>
</message>
<message name="AuthenticateAndroidUser">
<part name="parameters" element="tns:AuthenticateAndroidUser"/>
</message>
<message name="AuthenticateAndroidUserResponse">
<part name="parameters" element="tns:AuthenticateAndroidUserResponse"/>
</message>
<message name="fetchdataAndroid">
<part name="parameters" element="tns:fetchdataAndroid"/>
</message>
<message name="fetchdataAndroidResponse">
<part name="parameters" element="tns:fetchdataAndroidResponse"/>
</message>
<message name="pass">
<part name="parameters" element="tns:pass"/>
</message>
<message name="passResponse">
<part name="parameters" element="tns:passResponse"/>
</message>
<message name="passobjref">
<part name="parameters" element="tns:passobjref"/>
</message>
<message name="addClientCommands">
<part name="parameters" element="tns:addClientCommands"/>
</message>
<message name="addClientCommandsResponse">
<part name="parameters" element="tns:addClientCommandsResponse"/>
</message>
<message name="getClientCmdJava">
<part name="parameters" element="tns:getClientCmdJava"/>
</message>
<message name="getClientCmdJavaResponse">
<part name="parameters" element="tns:getClientCmdJavaResponse"/>
</message>
<message name="updataJavaData">
<part name="parameters" element="tns:updataJavaData"/>
</message>
<message name="passrefofMyImage">
<part name="parameters" element="tns:passrefofMyImage"/>
</message>
<message name="passrefofMyImageResponse">
<part name="parameters" element="tns:passrefofMyImageResponse"/>
</message>
<message name="videoStreamForAndroid">
<part name="parameters" element="tns:videoStreamForAndroid"/>
</message>
<message name="videoStreamForAndroidResponse">
<part name="parameters" element="tns:videoStreamForAndroidResponse"/>
</message>
<portType name="HomeAutomationService">
<operation name="initDatabse">
<input wsam:Action="http://MyServerPack/HomeAutomationService/initDatabseRequest" message="tns:initDatabse"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/initDatabseResponse" message="tns:initDatabseResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://MyServerPack/HomeAutomationService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="PassObjectRefrence">
<input wsam:Action="http://MyServerPack/HomeAutomationService/PassObjectRefrence" message="tns:PassObjectRefrence"/>
</operation>
<operation name="StoreData">
<input wsam:Action="http://MyServerPack/HomeAutomationService/StoreDataRequest" message="tns:StoreData"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/StoreDataResponse" message="tns:StoreDataResponse"/>
</operation>
<operation name="SearchUserPresent">
<input wsam:Action="http://MyServerPack/HomeAutomationService/SearchUserPresentRequest" message="tns:SearchUserPresent"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/SearchUserPresentResponse" message="tns:SearchUserPresentResponse"/>
</operation>
<operation name="AuthenticateUser1">
<input wsam:Action="http://MyServerPack/HomeAutomationService/AuthenticateUser1Request" message="tns:AuthenticateUser1"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/AuthenticateUser1Response" message="tns:AuthenticateUser1Response"/>
</operation>
<operation name="AuthenticateAndroidUser">
<input wsam:Action="http://MyServerPack/HomeAutomationService/AuthenticateAndroidUserRequest" message="tns:AuthenticateAndroidUser"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/AuthenticateAndroidUserResponse" message="tns:AuthenticateAndroidUserResponse"/>
</operation>
<operation name="fetchdataAndroid">
<input wsam:Action="http://MyServerPack/HomeAutomationService/fetchdataAndroidRequest" message="tns:fetchdataAndroid"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/fetchdataAndroidResponse" message="tns:fetchdataAndroidResponse"/>
</operation>
<operation name="pass">
<input wsam:Action="http://MyServerPack/HomeAutomationService/passRequest" message="tns:pass"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/passResponse" message="tns:passResponse"/>
</operation>
<operation name="passobjref">
<input wsam:Action="http://MyServerPack/HomeAutomationService/passobjref" message="tns:passobjref"/>
</operation>
<operation name="addClientCommands">
<input wsam:Action="http://MyServerPack/HomeAutomationService/addClientCommandsRequest" message="tns:addClientCommands"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/addClientCommandsResponse" message="tns:addClientCommandsResponse"/>
</operation>
<operation name="getClientCmdJava">
<input wsam:Action="http://MyServerPack/HomeAutomationService/getClientCmdJavaRequest" message="tns:getClientCmdJava"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/getClientCmdJavaResponse" message="tns:getClientCmdJavaResponse"/>
</operation>
<operation name="updataJavaData">
<input wsam:Action="http://MyServerPack/HomeAutomationService/updataJavaData" message="tns:updataJavaData"/>
</operation>
<operation name="passrefofMyImage">
<input wsam:Action="http://MyServerPack/HomeAutomationService/passrefofMyImageRequest" message="tns:passrefofMyImage"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/passrefofMyImageResponse" message="tns:passrefofMyImageResponse"/>
</operation>
<operation name="videoStreamForAndroid">
<input wsam:Action="http://MyServerPack/HomeAutomationService/videoStreamForAndroidRequest" message="tns:videoStreamForAndroid"/>
<output wsam:Action="http://MyServerPack/HomeAutomationService/videoStreamForAndroidResponse" message="tns:videoStreamForAndroidResponse"/>
</operation>
</portType>
<binding name="HomeAutomationServicePortBinding" type="tns:HomeAutomationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initDatabse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PassObjectRefrence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="StoreData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchUserPresent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthenticateUser1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AuthenticateAndroidUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchdataAndroid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="passobjref">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addClientCommands">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientCmdJava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updataJavaData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="passrefofMyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="videoStreamForAndroid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HomeAutomationService">
<port name="HomeAutomationServicePort" binding="tns:HomeAutomationServicePortBinding">
<soap:address location="http://localhost:8080/HomeAutomationServer/HomeAutomationService"/>
</port>
</service>
</definitions>